.background {
    background: url("photo.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
     
	 
  background-size:1600px ;
}
img {
	
	width: 20%;
	float: left;
	margin: 6%;
	border-radius: 50%; 
	margin-bottom:40px;


}

/*p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
} */