 @import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
body {
 
  height: 100vh;
  margin: 0;

  font-family: 'Gudea', sans-serif;
   background: url("bg.jpg");
    background-size: cover;
    background-position: center;

  
}
body p {
  color: #5B5E6F;
  font-size: 10px;
  text-align: left;
}

body .login {
  opacity: 1;
  top: 20px;

  position: relative;
  width: 340px;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 40px;
  background: #35394a;

  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);

  
  
}
body .login .validation {
  position: absolute;

  right: 10px;
  top: 6px;
  opacity: 0;
}
body .login .disclaimer {
  position: absolute;
  bottom: 20px;
  left: 35px;
  width: 250px;
}
body .login_title {
  color: #afb1be;
  height: 60px;
  text-align: left;
  font-size: 16px;
}
body .login_fields {
  height: 208px;
  width: 340px;
  position: absolute;
  left: 0;
}
body .login_fields .icon {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 8px;
  opacity: .5;
}
body .login_fields input[type='password'] {
  color: #DC6180 !important;
}
body .login_fields input[type='email'], body .login_fields input[type='password'] {
  color: #afb1be;
  width: 340px;
  margin-top: -2px;
  background: #32364a;
  left: 0;
  padding: 10px 65px;
  border-top: 2px solid #393d52;
  border-bottom: 2px solid #393d52;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  box-shadow: none;
}
body .login_fields__user, body .login_fields__password {
  position: relative;
}
body .login_fields__submit {
  position: relative;
  top: 35px;
  left: 0;
  width: 80%;
  right: 0;
  margin: auto;
}
body .login_fields__submit .forgot {
  float: right;
  font-size: 10px;
  margin-top: 11px;
  text-decoration: underline;
}
body .login_fields__submit .forgot a {
  color: #606479;
}
body .login_fields__submit input {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid #DC6180;
  color: #DC6180;
  text-transform: uppercase;
  font-size: 11px;
}
body .login_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
body .login_fields__submit input:hover {
  color: white;
  background: #DC6180;
  cursor: pointer;
  transition-property: background,color;
  transition-duration: .2s;
}


